/* Declaring a variable in CSS, happens because imagine if you need to change the color of your site, rather than you going to change color for another color in your CSS, so you easily change the color declared of the variable */
:root{
    --roxo: #7236c5;
    --preta: #141414;
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* base of elements */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--roxo);
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    margin-left: 10px;
    letter-spacing: 5px;
    
}

header nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-family: Arial, Helvetica, serif;

}
header nav a:hover{
    
    display: inline-block;
    padding: 1em;
    background-color: #7236c5;
    text-decoration: none;
    color: white;
   

    
}


.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url('../img/capa.png');

    height: 650px;
    background-size:cover ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container{
    margin-left: 20px ;
    font-family: Arial, Helvetica, serif;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px ;


}


.titulo{
    margin-top:15%;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
}
.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    
    color: white;

    padding: 15px 30px;
    margin-right: 15px;

    cursor: pointer;
    transition: .5s ease all;
   
}
.botao:hover{
    background-color: white;
    color:black;

}
.botao i{
    margin-right: 8px;
}

/*WRAPPER: means envelop, in portuguese means: Envelopar */

.filme-principal .container{
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carousel-filmes{
    margin-top:1px;
}

#owl-carousel-video {
    width: 100%;
  }
  
  .item-video {
      height: 350px;
      width: auto;
      background-color: 141414;
      display: block;
      border: 2px solid #7236c5;
  }
  .item-video-subfolder {
    height: 550px;
    width: auto;
    background-color: 141414;
    display: block;
    border: 2px solid #7236c5;
}


