/* Declaring a variable in CSS, happens because imagine if you need to change the color of your site, rather than you going to change color for another color in your CSS, so you easily change the color declared of the variable */
:root{
    --vermelho: #E50914;
    --preta: #141414;
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* base of elements */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 8px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}
header nav a:hover{
    color: #fff;
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url('../img/capa.png');

    height: 650px;
    background-size:cover ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px ;


}


.titulo{
    margin-top:15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;

    cursor: pointer;
    transition: .5s ease all;
    ;
}
.botao:hover{
    background-color: white;
    color:black;

}
.botao i{
    margin-right: 8px;
}